{% extends "base.html" %}
{% block stylesheet %}<link rel="stylesheet" href="/static/style.css">{% endblock %}
{% block main %}
    <div class="background" id="background"></div>
    <section class="text_1">
        <div class="text_1__div">
            <h1 class="text_1__h1">WIR MACHEN BAFA ENERGIEBERATUNG FÜR IHR WOHNGEBÄUDE</h1>
            <p class="text_1__p1">
            Jedes Projekt beginnt mit einer Idee. Damit Ihre Idee Wirklichkeit wird,
            benötigen Sie eine gute Planung und Beratung. Als <a class="text_1__p1-link" href="https://www.energie-effizienz-experten.de/fuer-private-bauherren/finden-sie-experten-in-ihrer-naehe/suchergebnis?tx_wwdenaexpertendb_pi1%5Bcontroller%5D=Search&cHash=4160495fc971f716852b05efb24d2cb7">gelisteter Energieeffizienz-Experte
                der dena</a>  – der zugelassenen BAFA Energieberater Liste – verhelfen wir Ihnen zu Ihrer
            staatlichen Förderung durch die KfW und das BAFA für Ihr Wohngebäude, um Ihr Projekt
            umzusetzen. Vereinen Sie das Maximale an Förderung und Umweltschutz bei Ihrer Sanierung.
            Profitieren Sie von unserer über 12-jährigen Erfahrung im Wohnungsbau und in der Gebäudesanierung.
            </p>
        </div>
        <img class="text_1__img" src="../static/media/block1.jpeg" alt="Bild einer Familie am Laptop">
    </section>
    <section class="text_2">
        <div class="text_2__div">
            <p class="text_2__p1">Ihr Energieberater ist nur einen Klick entfernt…</p>
            <h2 class="text_2__h1">BAFA Energieberatung in Frankfurt am Main & Rhein-Main-Gebiet</h2>
            <p class="text_2__p2">Wir freuen uns von Ihnen zu hören. Rufen Sie uns an oder schicken uns eine WhatsApp, wir beraten Sie gerne!</p>
        </div>
        <div class="text_2__buttons">
            <a href="https://api.whatsapp.com/send?phone=4917656831071"><input class="text_2__button" type="button" value="Direkt Whatsapp schicken!"></a>
            <a href="https://energie-feller.de/kontakt"><input class="text_2__button" id="button2" type="button" value="Kontakt!"></a>
        </div>
    </section>
    <section class="text_3">

    </section>
    <section class="text_4">

    </section>
    <section class="text_5">

    </section>
    <section class="text_6">

    </section>
{% endblock %}